<!doctype html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="~/css/animate.min.css">

    <link rel="stylesheet" href="~/css/boxicons.min.css">

    <link rel="stylesheet" href="~/css/meanmenu.css">

    <link rel="stylesheet" href="~/css/nice-select.min.css">

    <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/css/responsive.css">

    <link rel="stylesheet" href="~/css/theme-dark.css">

    <title>Pixis - Print on Demand Service Providers Template</title>

    <link rel="icon" type="image/png" href="~/img/favicon.png">
</head>

<body>
    <div class="topp-bar d-flex flex-wrap justify-content-lg-end pe-4 ps-2">
        
        <p class="mb-0 me-4 text-white text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
            </svg> Free Shiping on more then Rs1000 purchase
        </p>
        <p class="mb-0 me-4 text-white text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
            </svg> +923241816988
        </p>
        <p class="mb-0 me-4 text-white text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
            </svg> +923241816988
        </p>
    </div>
    <header>
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="pre-img">
                        <img src="~/img/footer-logo.png" alt="Logo">
                </div>
                <div class="spinner">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="navbar-area">

        <div class="mobile-nav">
            <a href="index.html" class="logo">
                    <img src="~/img/footer-logo.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light ">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" class="logo-one" alt="Logo">
                            <img src="~/img/footer-logo.png" class="logo-two" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto align-items-center">
                            <li class="nav-item">
                                    <a asp-controller="Home" asp-action="Index" class="nav-link active">
                                    Home
                                </a>
                                 
                            </li>
                            
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Pages
                                    <i class="bx bx-plus"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">
                                            Pricing
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="designer.html" class="nav-link">
                                            Designer
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">
                                            Testimonials
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">
                                            404 page
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="sign-in.html" class="nav-link">
                                            Sign In
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="sign-up.html" class="nav-link">
                                            Sign Up
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="recover-password.html" class="nav-link">Recover Password</a>
                                    </li>
                                    <li class="nav-item"
                                        <a href="terms-condition.html" class="nav-link">
                                            Terms & Conditions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a asp-controller="Home" asp-action="Privacy" class="nav-link">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">
                                            Coming Soon
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Level 1
                                            <i class="bx bx-plus"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Level 2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Level 2</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    Level 2
                                                    <i class="bx bx-plus"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Level 3</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">Level 3</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services
                                    <i class="bx bx-plus"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">
                                            Services
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-details.html" class="nav-link">
                                            Service Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Product
                                    <i class="bx bx-plus"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="product.html" class="nav-link">
                                            Product
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="cart.html" class="nav-link">
                                            Cart
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="checkout.html" class="nav-link">
                                            Checkout
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product-details.html" class="nav-link">
                                            Product Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Blog
                                    <i class="bx bx-plus"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog.html" class="nav-link">
                                            Blog
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">
                                            Blog Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="About" class="nav-link">
                                        About
                                    </a>
                                </li>
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Contact" class="nav-link">
                                    Contact
                                </a>
                            </li>
                                

                                <div class="cart-area ms-5 ">
                                    <a  asp-controller="Home" asp-action="cart">
                                        <i class="bx bx-cart"></i>
                                        <span>10</span>
                                    </a>
                                </div>


                                @if (!string.IsNullOrEmpty(Class_session.user_id))
                                {
                                    <div class="nav-item d-flex justify-content-center ms-5">
                                        <a href="#" id="mod" data-bs-toggle="modal" data-bs-target="#myModal2" class="">
                                            <div class="d-flex justify-content-center">
                                                <img src="~/img/user.png" alt="Alternate Text" width="50px" />
                                            </div>
                                            <div>
                                                <h6>@Class_session.user_fname @Class_session.user_lname</h6>
                                            </div>
                                        </a>
                                    </div>
                                }

                                @if (string.IsNullOrEmpty(Class_session.user_id))
                                {

                                        <li class="me-2 nav-item">
                                            <a asp-controller="Home" asp-action="LogIn" class="nav-link text-dark">
                                                LogIn
                                            </a>
                                        </li>


                                   
                                        <div class="menu-btn">
                                            <a class="phone-btn" asp-controller="Home" asp-action="SignUp">
                                                SignUp
                                            </a>
                                        </div>
                                        
                                    
                                  }
                            </ul>
                        
                       
                            
                    </div>
                   
                  
                           
                      
                        

                        
                      
                </nav>
            </div>
        </div>
    </div>


        <div class="sidebar-modal">
            <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                <div class="modal-dialog w-100" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="bx bx-x"></i>
                                </span>
                            </button>
                            <h2 class="modal-title" id="myModalLabel2">
                                <a href="index.html">
                                    <img src="~/img/logo.png" class="modal-logo1" alt="Logo">
                                    <img src="~/img/footer-logo.png" class="modal-logo2" alt="Logo">
                                </a>
                            </h2>
                        </div>
                        <div class="modal-body">



                            
                                
                                   
                                    
                                        <div class=" pt-0  cover">
                                            <div class="media align-items-end profile-head">
                                                <div class="profile mr-3 row">
                                                    <img src="~/img/user.png" alt="..." width="130" class="rounded mb-2 img-thumbnail col-4">
                                                    <a href="#" class="btn btn-outline-dark btn-sm btn-block ">Edit profile</a>
                                                </div>
                                                <div class="media-body mb-5 text-white">
                                                    <h4 class="mt-0 mb-0">@Class_session.user_fname @Class_session.user_lname</h4>
                                                    <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@Class_session.user_email</p>
                                                </div>
                                            </div>
                                        </div>





                            <div class="sidebar-modal-widget">
                                <h3 class="title">Your Info</h3>
                                <ul class="contact-info">
                                    <li>
                                        <i class="bx bx-map"></i>
                                        Address
                                        <span>28/A Street, New York, USA</span>
                                    </li>
                                    <li>
                                        <i class="bx bxs-paper-plane"></i>
                                        Email
                                        <span>
                                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                               data-cfemail="e2878f838b8ea2928b9a8b91cc818d8f">[email&#160;protected]</a>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="bx bxs-phone-call"></i>
                                        Phone
                                        <span>+1 1234 56 7891, +1 1234 76 6871</span>
                                    </li>
                                </ul>
                            </div>


                            <div class="sidebar-modal-widget">
                                <h3 class="title">LogOut</h3>
                                <ul class="contact-info">
                                    <li class="row">
                                        <a asp-action="logout" asp-controller="Home" class="logout-btn">Log Out</a>
                                    </li>
                                </ul>
                            </div>

                            
                           
                            <div class="sidebar-modal-widget">
                                <h3 class="title">Contact Info</h3>
                                <ul class="contact-info">
                                    <li>
                                        <i class="bx bx-map"></i>
                                        Address
                                        <span>28/A Street, New York, USA</span>
                                    </li>
                                    <li>
                                        <i class="bx bxs-paper-plane"></i>
                                        Email
                                        <span>
                                            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                               data-cfemail="e2878f838b8ea2928b9a8b91cc818d8f">[email&#160;protected]</a>
                                        </span>
                                    </li>
                                    <li>
                                        <i class="bx bxs-phone-call"></i>
                                        Phone
                                        <span>+1 1234 56 7891, +1 1234 76 6871</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar-modal-widget">
                                <h3 class="title">Connect With Us</h3>
                                <ul class="social-list">
                                    <li>
                                        <a href="#">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bx bxl-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bx bxl-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</header>

<div class="">
        <div class=" w-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    
    <footer class="footer-area">
        <div class="container">
            <div class="footer-contact">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-card">
                            <i class="bx bx-time"></i>
                            <h3>Sun - Thu : 10:00 AM - 06:00 PM</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-card">
                            <i class="bx bxs-map"></i>
                            <h3>28/A Street, New York City, USA</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-card">
                            <i class="bx bxs-phone-call"></i>
                            <h3 class="media-tel">
                                <a href="tel:+19876543210">+1 987 6543 210</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-top-list pb-70">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-list">
                            <h3>Services</h3>
                            <ul>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">Brand Identy</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">Package Design</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">Pattern Design</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">T-shirt Print</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">Book Covers</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">CD-DVD Covers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-list">
                            <h3>Quick Links</h3>
                            <ul>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="services.html">Service</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="testimonial.html">Testimonial</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <i class="bx bxs-chevron-right"></i>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="footer-side-list">
                            <h3>Contact Us</h3>
                            <ul>
                                <li>
                                    <i class="bx bxs-phone"></i>
                                    <a href="tel:+11234567891">+1 1234 56 7891</a>
                                </li>
                                <li>
                                    <i class="bx bxs-phone"></i>
                                    <a href="tel:+19876543210">+1 9876 543 210</a>
                                </li>
                                <li>
                                    <i class="bx bxl-telegram"></i>
                                    <a href="/cdn-cgi/l/email-protection#dabfb7bbb3b69aaab3a2b3a9f4b9b5b7"><span
                                            class="__cf_email__"
                                            data-cfemail="d8bdb5b9b1b498a8b1a0b1abf6bbb7b5">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="bx bxl-telegram"></i>
                                    <a href="/cdn-cgi/l/email-protection#2048454c4c4f6050495849530e434f4d"><span
                                            class="__cf_email__"
                                            data-cfemail="58303d34343718283120312b763b3735">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class="bx bxs-map"></i>
                                    28/A Street, New York, USA
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3">
                        <div class="footer-logo">
                            <img src="~/img/footer-logo.png" alt="Footer Logo">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-9">
                        <div class="bottom-text">
                            <p>
                                Copyright
                                <script data-cfasync="false"
                                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                                <script>document.write(new Date().getFullYear())</script> Pixis. All Rights Reserved by
                                <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a>
                            </p>
                            <ul class="social-bottom">
                                <li>
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 

    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/owl.carousel.min.js"></script>

    <script src="~/js/meanmenu.js"></script>
 
    <script src="~/js/wow.min.js"></script>

    <script src="~/js/jquery.nice-select.min.js"></script>

    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <script src="~/js/form-validator.min.js"></script>

    <script src="~/js/contact-form-script.js"></script>

    <script src="~/js/custom.js"></script>
</body>

</html>